<div id="<%= dom_id release_train %>">
  <p>
    <strong>Engineering manager:</strong>
    <%= release_train.engineering_manager %>
  </p>

  <p>
    <strong>Backend:</strong>
    <%= release_train.backend %>
  </p>

  <p>
    <strong>Rt date:</strong>
    <%= release_train.rt_date %>
  </p>

</div>
