<h1  class="text-center">Editing release train</h1>

<%= render "form", release_train: @release_train %>

<br>

<div>
  <%= link_to "Show this release train", @release_train %> |
  <%= link_to "Back to release trains", release_trains_path %>
</div>
