<div id="<%= dom_id history %>">
  <p>
    <strong>Release train:</strong>
    <%= history.release_train_id %>
  </p>

  <p>
    <strong>Version:</strong>
    <%= history.version %>
  </p>

  <p>
    <strong>Run result:</strong>
    <%= history.run_result %>
  </p>

</div>
