<div id="<%= dom_id system_service %>">
  <p>
    <strong>Name:</strong>
    <%= system_service.name %>
  </p>

  <p>
    <strong>Tribe:</strong>
    <%= system_service.tribe %>
  </p>

  <p>
    <strong>Squad:</strong>
    <%= system_service.squad %>
  </p>

</div>
