<h1>Editing system service</h1>

<%= render "form", system_service: @system_service %>

<br>

<div>
  <%= link_to "Show this system service", @system_service %> |
  <%= link_to "Back to system services", system_services_path %>
</div>
